

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BugTracker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            @if (!HttpContext.Current.User.Identity.IsAuthenticated)
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Register", "Registration", "User")</li>
                        <li>@Html.ActionLink("Login", "Login", "User")</li>
                    </ul>
                </div>
            }

            @if (@HttpContext.Current.User.Identity.IsAuthenticated)
            {
                BugTracker.Models.BugTrackerDBEntities2 dc = new BugTracker.Models.BugTrackerDBEntities2();
                var account = dc.Admins.Where(a => a.Username == HttpContext.Current.User.Identity.Name).FirstOrDefault();

                if (account != null)
                {
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("User", "AdminRegistration", "Admin")</li>
                            <li>@Html.ActionLink("User", "TicketSystem", "User")</li>

                        </ul>
                    </div>
                }
            }
            @if (@HttpContext.Current.User.Identity.IsAuthenticated)
            {
                BugTracker.Models.BugTrackerDBEntities dc = new BugTracker.Models.BugTrackerDBEntities();
                var account = dc.Users.Where(a => a.Username == HttpContext.Current.User.Identity.Name).FirstOrDefault();

                if (account != null)
                {
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Create Ticket", "TicketSystem", "User")</li>
                            <li>@Html.ActionLink("Ticket", "GetTicketsIndex", "Ticket")</li>
                        </ul>
                    </div>
                }
            }
            @if (User.Identity.IsAuthenticated) // Checks if logged in or not within layout
            {
        <div class="topright">
            <img src="~/Images/loggedin.png" style="width:20px" /> @HttpContext.Current.User.Identity.Name 

            @using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
            {
        <a href="javascript:document.getElementById('logoutForm').submit()" style="color: white"><img src="~/Images/signout.png" style="width:20px" /> Logout</a>

            }
        </div>
            }


        </div>
                </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <style>

        .topright {
            position: absolute;
            top: 2px;
            right:200px;
            font-size: 18px;
            color: white;
        }

    </style>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
