@model IEnumerable<BugTracker.Models.Ticket>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.Identity.IsAuthenticated)
{
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />

    </head>
    <body>
        <h1>Welcome Back! @HttpContext.Current.User.Identity.Name </h1>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>






        @{ var count = Model.Count();
            var priorityLowCount = Model.Count(x => x.Priorities == "Low");
            var priorityMediumCount = Model.Count(x => x.Priorities == "Medium");
            var priorityHighCount = Model.Count(x => x.Priorities == "High");
            var monday = DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Monday);

            var recentTickets = Model.Count(x => x.CreatedDate >= monday); //This calculates a week from mondays tickets

                <table style="float:left; min-height: 75px; width: 320px; margin-left: 280px; border:groove;">
                    <tr>
                        <td>
                            <h3>@Html.DisplayName("Tickets Available")</h3>
                            <h4>Currently: @count.ToString()</h4>
                            <h5 style="text-align: center">View and Submit bug tickets.</h5>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <center>
                                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("GetTicketsIndex", "Ticket")'">
                                        View Tickets
                                    </button>
                                </center>
                                <ul>
                                </ul>
                            }
                        </td>
                    </tr>
                </table>

                <table style="float:left; min-height: 75px; width: 320px; margin-left: 80px; border: dashed; ">
                    <tr>
                        <td>
                            <h3>@Html.DisplayName("Tickets this week: " + recentTickets.ToString())</h3>

                            <h4><a href='@Url.Action("GetTicketsIndex/Low", "Ticket")'>Low Priority Tickets: @priorityLowCount.ToString()</a></h4>
                            <h4><a href='@Url.Action("GetTicketsIndex/Medium", "Ticket")'> Medium Priority Tickets: @priorityMediumCount.ToString()</a></h4>
                            <h4><a href='@Url.Action("GetTicketsIndex/High", "Ticket")'> High Priority Tickets: @priorityHighCount.ToString()</a></h4>
                            <h5 style="text-align: center">View and Submit bug tickets.</h5>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <center>
                                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("GetTicketsIndex/Low", "Ticket")'">
                                        View Tickets
                                    </button>
                                </center>
                                <ul>
                                </ul>
                            }

                        </td>
                    </tr>
                </table>
            }

            <style>
                .div1 {
                    left: auto;
                    width: 300px;
                    height: 100px;
                    border: 1px solid #dadce0;
                }

                .div2 {
                    width: 300px;
                    height: 100px;
                    border: 1px solid #dadce0;
                }
            </style>
        </body>
</html>
            }
    @if (!User.Identity.IsAuthenticated)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                @Html.ActionLink("Login", "Login", "User")
            </div>
        }
    }
