@using BugTracker.Models
@model IEnumerable<BugTracker.Models.Ticket>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(canPage: true, rowsPerPage: 10);
    grid.Bind(source: Model);
}

@if (User.Identity.IsAuthenticated)
{
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />

    </head>
    <body>
        <h1>Welcome Back! @HttpContext.Current.User.Identity.Name </h1>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>


        @{ var count = Model.Count();

            BugTracking db = new BugTracking();

            var dbCount = db.Tickets.Count();

            var priorityLowCount = db.Tickets.Count(x => x.Priorities == "Low");
            var priorityMediumCount = db.Tickets.Count(x => x.Priorities == "Medium");
            var priorityHighCount = db.Tickets.Count(x => x.Priorities == "High");
            var unassignedProjects = db.Tickets.Count(x => x.CurrentProject == null);
            var monday = DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + (int)DayOfWeek.Monday);

            var recentTickets = Model.Count(x => x.CreatedDate >= monday); //This calculates a week from mondays tickets
            
            <table style="float: left; width: 100%; min-width: 350px; min-height: 10px; max-width: 30px; position: fixed; border: none; z-index: 1;">
                        <tr>
                            <td>
                                <button type="button" class="btn btn-success" style="width: 100%; min-width: 20px;" onclick="location.href='https://localhost:44392/Ticket/GetTicketsIndex?search=Low';">
                                    <h3>@Html.DisplayName("Unresolved Low Tickets")</h3>
                                    @priorityLowCount.ToString()
                                </button>
                            </td>
                            <table style="float: left; width: 100%; min-width: 350px; max-width: 30px; margin-left: 400px; position: fixed; border: none; ">
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-success" style="width: 100%;" onclick="location.href='https://localhost:44392/Ticket/GetTicketsIndex?search=Medium';">
                                            <h3>@Html.DisplayName("Unresolved Medium Tickets")</h3>
                                            @priorityMediumCount.ToString()
                                        </button>
                                    </td>
                                    <table style="float: left; width: 100%; min-width: 350px; max-width: 250px; margin-left: 800px; position: static; border: none; ">
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-success" style="width: 100%;" onclick="location.href='https://localhost:44392/Ticket/GetTicketsIndex?search=High';">
                                                    <h3>@Html.DisplayName("Unresolved High Tickets")</h3>
                                                    @priorityHighCount.ToString()
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </tr>
                            </table>
                        </tr>
            </table>


            <table style="float: left; width: 19%; min-width: 24px; margin: 10px 0; margin-top: 120px; position:fixed; border:groove; ">
                <tr>
                    <td>
                        <h3>@Html.DisplayName("Tickets Available")</h3>
                        <h4>Currently: @dbCount.ToString()</h4>
                        <h5 style="text-align: center">View and Submit bug tickets.</h5>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <center>
                                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("GetTicketsIndex", "Ticket")'">
                                    View Tickets
                                </button>
                            </center>
                            <ul>
                            </ul>
                        }
                    </td>
                </tr>
            </table>

            <table style="min-height: 75px; width: 320px; margin-left: 10px; margin-top: 320px; bottom: 100px; border:groove;">
                <tr>
                    <td>
                        <h3>@Html.DisplayName("Tickets this week: " + recentTickets.ToString())</h3>

                        <h5 style="text-align: center">View and Submit bug tickets.</h5>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <center>
                                @{ /*<button type="button" class="btn btn-success" onclick="location.href='@Url.Action("GetTicketsIndex", "Ticket")'"> (This is when the project goes live) */}
                                <button type="button" class="btn btn-success" onclick="location.href='https://localhost:44392/Ticket/GetTicketsIndex?search=Medium';">

                                    View Tickets
                                </button>

                            </center>
                            <ul>
                            </ul>
                        }
                    </td>
                </tr>
            </table>
        }
        <table class="table" style="float: right; height: 20%; min-height: 20%; min-width: 40%; width: 20%; margin: 400px; margin-top: -370px;  position: fixed; border: groove;">
            <tr">
                <th style="color: red;">
                    @Html.DisplayNameFor(models => models.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(models => models.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(models => models.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(models => models.Priorities)
                </th>
                <th>
                    @Html.DisplayNameFor(models => models.CurrentUser)
                </th>
                <th>
                    @Html.DisplayNameFor(models => models.CurrentProject)
                </th>

                <th></th>
            </tr">


            @foreach (var item in Model)
            {
                <tr style="cursor:pointer" onclick="Redirect()">
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.Description, new { @class = "hidden" })

                    </td>
                    <td>
                        @item.CreatedDate.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Priorities)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentProject)
                    </td>
                </tr>
            }
            <style>
                tr:hover, tr.selected {
                    background-color: rgb(128, 128, 128, .4);
                }

                td {
                    padding: 0px;
                }

                .div1 {
                    left: auto;
                    width: 300px;
                    height: 100px;
                    border: 1px solid #dadce0;
                }

                .div2 {
                    width: 300px;
                    height: 100px;
                    border: 1px solid #dadce0;
                }
            </style>
    </body>
</html>

}

@if (!User.Identity.IsAuthenticated)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            @Html.ActionLink("Login", "Login", "User")
        </div>
    }
}

<script type="text/javascript">
    function Redirect() {
        location.href = "https://localhost:44392/Ticket/GetTicketsIndex";
    }

    $("tr").click(function () {
        $(this).addClass("selected").siblings().removeClass("selected");
    });
</script>
@{
    /*
           <div id="grid" style="float: right; height: 10px; width: 740px; margin-right: 14px; margin-top: -330px;">
                    @grid.GetHtml(

                                tableStyle: "table table-responsive table-bordered",
                                columns: grid.Columns(
                                 grid.Column(columnName: "Title", header: "Title"),
                                 grid.Column(columnName: "Description", header: "Description"),
                                 grid.Column(columnName: "CreatedDate", header: "Date", format: (item) => item.CreatedDate.ToShortDateString())

                                 //format: @<text><div class="edit" data-id="@item.ID" data-propertyname="Title">@item.Title</div></text>
                                 // format:@<text><div class="editSelect" data-id="@item.ID" data-propertyname="Priorities">@item.Priorities</div></text>)
                                 //format:@<text><div class="edit" data-id="@item.ID" data-propertyname="Description">@item.Description</div></text>
                                 )
                             )
                    </div>*/
}
