@model IEnumerable<BugTracker.Models.Ticket>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>mainPage</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>





    @{ var count = Model.Count();

        <tr>
            <td>

                    <div style="display: flex; justify-content: space-around">
                            <div>
                                @Html.DisplayName("Tickets Available") @count.ToString()

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    <div>
                                        @Html.ActionLink("View Tickets", "GetTicketsIndex", "Ticket")
                                    </div>
                                }
                            </div>
                        <div>@Html.DisplayName("Tickets Available") 
                        @count.ToString()</div>
                    </div>
            </td>
            <div class="pull-right">@Html.DisplayName("Tickets Available")</div>
        </tr>
    }

    <style>
        .div1 {
            left:auto;
            width: 300px;
            height: 100px;
            border: 1px solid #dadce0;
        }

        .div2 {
            
            width: 300px;
            height: 100px;
            border: 1px solid #dadce0;
        }
    </style>
</body>
</html>
