@using BugTracker.Models
@model IEnumerable<BugTracker.Models.Ticket>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

@{
    ViewBag.Title = "TicketsView";
}

@if (!User.Identity.IsAuthenticated)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            @Html.ActionLink("Login", "Login", "User")
        </div>
    }
}
@if (User.Identity.IsAuthenticated) {
<table class="table">
    <tr">
        <th style="color: red;">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priorities)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentProject)
        </th>

        <th></th>
    </tr">


    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>

        @Html.DisplayFor(modelItem => item.Description, new { @class = "hidden" })

    </td>
    <td>
        @item.CreatedDate.ToShortDateString()
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Priorities)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CurrentUser)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CurrentProject)
    </td>

    <td>

        @Html.ActionLink("Edit", "Edit", new { id = item.Id })

        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
    }
    </table>
    <h2>TicketsView</h2>

    <p>
        @Html.ActionLink("Create New", "TicketSystem", "User")
    </p>
}
