@using BugTracker.Models
@model IEnumerable<BugTracker.Models.Ticket>

@{
    ViewBag.Title = "TicketsView";
}

<h2>TicketsView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priorities)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DropDownListFor(modelItem => item.Priorities,
                 new SelectList(Enum.GetValues(typeof(Priority))),
                 item.Priorities)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @Html.ActionLink("Details", "Details", new { id = item.Id })

                @if (@HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    BugTracker.Models.BugTrackerDBEntities2 dc = new BugTracker.Models.BugTrackerDBEntities2();
                    var account = dc.Admins.Where(a => a.EmailID == HttpContext.Current.User.Identity.Name).FirstOrDefault();

                    if (account != null)
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }
                }
            </td>
        </tr>
    }

</table>
